body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  font-family: "Outfit";
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 322px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}

.image {
  width: 300px;
  border-radius: 15px;
  margin-top: 10px;
}

.title {
  font-weight: 700;
  color: black;
  font-size: 15px;
  margin: 30px 30px 10px 30px;
}

.content {
  font-weight: 400;
  color: rgb(169, 172, 179);
  font-size: 12px;
  margin: 0 30px 30px;
}
